#header-picture {
		display: inline-block;
	}
#header-title {
		display: inline-block;
		font-size: 40px;
		vertical-align: top;
		padding-top: 30px;
	}
header {
	height: auto;
	padding-left: 20px;
	text-align: center;
	}

#fernsehturm {
	text-align: auto;
	border-radius: 50%;
	position: absolute;
	right: 40px;
	margin: 40px 20px 0px 20px;
	display: inline-block;
}

nav ul {
	list-style-type: none;
	margin: 0px 0px 0px 3px;
	padding: 0;
	width: 98%;
	background-color: #00008B;
	overflow: hidden;
}
nav li {
	display: inline-block;
}
nav li a {
	display: block;
	color: white;
	padding: 8px 51px 8px 52px;
	text-decoration: none;
	font-size: 15px;
}
nav li a:hover {
    background-color: #00BFFF;
}

.main { 
	display: inline-block;
	vertical-align: top;
	margin: 30px 0px 0px 40px;
	width: 70%;
}
.main p {
	font-size: 16px;
	margin-top: -10px;
}
.main span {
	font-size: 20px;
}
.pictures {
	float: left;
	display: inline-block;
	position: relative;
	margin: 10px 0px 0px 30px;
	text-align: center;
}
figure {
	margin: 0px;
	padding: 0px;
}
figcaption {
	text-align: center;
	font-style: italic;
	font-size: 20px;
}

body {
	font-family: 'Hind', sans-serif;
	}